---
apiVersion: v1
kind: Namespace
metadata:
  name: invoices
---
apiVersion: v1
kind: Secret
metadata:
  name: github-registry
  namespace: invoices
data:
  .dockerconfigjson: xxxxxxxxxxxxxxxxxxxxxxxxxxx
type: kubernetes.io/dockerconfigjson
